<div class="row">
    <!-- <table class="col-sm-6">
        <thead>
            <tr>
                <th>Nom Pilote</th>
                <th>Prenom</th>
                <th>Ecurie</th>
                <th>Model Voiture</th>
                <th>Marque</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{pilote.nom}}</td>
                <td>{{pilote.prenom}}</td>
                <td>{{pilote.ecurie}}</td>
                <td>{{voiture.model}}</td>
                <td>{{voiture.marque}}</td>
            </tr>
        </tbody>
    </table> -->
    <div class="col-sm-6">
        <button type="button" class="btn btn-primary" (click)="Ajout_Voiture()">Click</button>
    </div>
    
</div>
